includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
	level: max
	strictRules:
		disallowedConstructs: false
	paths:
		- .
	excludePaths:
		- vendor/
		- examples/
		- public/
	ignoreErrors:
		- message: "/Access to an undefined property object::.*/"
		  path: src/*.php
