parameters:
	checkMissingIterableValueType: false
	level: max
	paths:
		- .
	excludes_analyse:
		- vendor
		- examples
		- public
	ignoreErrors:
		- message: "/Access to an undefined property object::.*/"
		  path: src/*.php
