parameters:
	checkMissingIterableValueType: false
	checkFunctionNameCase: true
	level: max
	paths:
		- .
	excludePaths:
		- vendor/
		- examples/
		- public/
	ignoreErrors:
		- message: "/Access to an undefined property object::.*/"
		  path: src/*.php
